#Carousel {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 0;

}

.main {
  display: flex;
  justify-content: center;
}



.cali {
  border: 0;
  margin: 0;
  padding: 0;
}

.cali img {
  max-height: 400px;

}

.active {
  position: absolute;
  left: 25%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
}

.next,
.prev {
  scale: 80%;
  position: absolute;
  z-index: 2;

}


.next {
  right: 10%;
}

.prev {
  left: 10%;
}

.nextprime,
.prevprime {
  z-index: 1;
  scale: 70%;
}

#Carousel button {
  cursor: pointer;
}