* {

    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    background-image: url('Img/BG.png');
    background-repeat: round;
    padding: 60px;
    text-align: center;
    color: white;

}

.boxlink {
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.boxlink a {
    text-decoration: none;
    color: white;
    width: 20%;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    background: #ddd; 
}

/* Footer */
.FlexFooter {
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

}