* {
    box-sizing: border-box;
}



body {
    margin: 0;
    background-image: url('Img/BG.png');
    width: 100%;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(166, 166, 166);
    position:sticky;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(:active) {
    background-color: rgb(128, 128, 128);
}

ul.topnav li a:active {
    background-color: rgb(85, 85, 85);
}

@media screen and (max-width: 1000px) {
  ul.topnav li a {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


li {
    display: inline;
}

svg {
    height: auto;
}

.background {
    position: absolute;
    top:0;
    left:0;
}

.foreground{
    z-index: 1;
    margin-top: 30px;

}





