

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.title {
    text-decoration: underline;
    
  }
  div.a, div.a:hover, div.a:visited {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    height:500px;
    padding: 0 6px;
    float: left;
    width: 19.99999%;
  }
  @media only screen and (max-width: 1000px) {
    .responsive {
      width: 24.99999%;
      margin: 6px 0;
    }
  }
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

